.sale--text {
  color: #ff2c49 !important;
}

.pink--text {
  color: #ff8598 !important;
}

.grey--text {
  color: #999999 !important;
}

.grey-light--text {
  color: #eeeeee !important;
}

.black--text {
  color: #000000 !important;
}

.white--text {
  color: #ffffff !important;
}

.sale--background {
  background: #ff2c49 !important;
}

.pink--background {
  background: #ff8598 !important;
}

.grey--background {
  background: #999999 !important;
}

.grey-light--background {
  background: #eeeeee !important;
}

.black--background {
  background: #000000 !important;
}

.white--background {
  background: #ffffff !important;
}

@media only screen and (max-width: 600px) {
  .hidden-xs {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) {
  .hidden-xs-up {
    display: none !important;
  }
}

@media only screen and (max-width: 899px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media only screen and (min-width: 900px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .v-hidden-xs {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

@media only screen and (min-width: 600px) {
  .v-hidden-xs-up {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

@media only screen and (max-width: 899px) {
  .v-hidden-sm-down {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

@media only screen and (min-width: 900px) {
  .v-hidden-sm-up {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

.grow {
  -webkit-box-flex: 1 !important;
      -ms-flex-positive: 1 !important;
          flex-grow: 1 !important;
  -ms-flex-negative: 0 !important;
      flex-shrink: 0 !important;
}

.shrink {
  -ms-flex-negative: 1 !important;
      flex-shrink: 1 !important;
  -webkit-box-flex: 0 !important;
      -ms-flex-positive: 0 !important;
          flex-grow: 0 !important;
}

.text-center {
  text-align: center !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

img,
video {
  height: auto;
  width: 100%;
  max-width: 100%;
}

ul {
  list-style: none;
}

header[role=banner] {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (min-width: 900px) {
  header[role=banner] {
    height: 64px;
    position: fixed;
  }
}

footer[role=contentinfo] {
  width: 100%;
  background: #000000;
}

footer[role=contentinfo] p {
  color: #999999;
}

footer[role=contentinfo] form {
  margin-top: 12px;
}

footer[role=contentinfo] h2 {
  letter-spacing: 2px;
}

footer[role=contentinfo] img {
  width: auto;
  height: 115px;
}

footer[role=contentinfo] small {
  color: #999999;
  text-align: center;
  text-transform: uppercase;
}

footer[role=contentinfo] #subscribe {
  color: #ffffff;
  margin: 0;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
}

footer[role=contentinfo] #subscribe:hover {
  color: #000000;
  background: #ffffff;
}

footer[role=contentinfo] a {
  color: #999999;
  text-decoration: none;
}

footer[role=contentinfo] a:hover {
  color: #ffffff;
}

footer[role=contentinfo] .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer[role=contentinfo] .social .btn.btn--icon {
  color: #999999;
}

footer[role=contentinfo] .social .btn.btn--icon:hover {
  color: #ffffff;
}

.container {
  width: 100%;
  padding: 24px;
  margin: 0 auto;
}

.container.fluid {
  max-width: 100%;
}

@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-right: -8px;
  margin-left: -8px;
}

.col {
  max-width: 100%;
  width: 100%;
  padding: 8px;
}

.col-1 {
  max-width: 100%;
  width: 100%;
  padding: 8px;
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
}

.col-2 {
  max-width: 100%;
  width: 100%;
  padding: 8px;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
}

.col-3 {
  max-width: 100%;
  width: 100%;
  padding: 8px;
  -ms-flex-preferred-size: 25.0%;
      flex-basis: 25.0%;
}

.col-4 {
  max-width: 100%;
  width: 100%;
  padding: 8px;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}

.col-5 {
  max-width: 100%;
  width: 100%;
  padding: 8px;
  -ms-flex-preferred-size: 41.66666%;
      flex-basis: 41.66666%;
}

.col-6 {
  max-width: 100%;
  width: 100%;
  padding: 8px;
  -ms-flex-preferred-size: 50.0%;
      flex-basis: 50.0%;
}

.col-7 {
  max-width: 100%;
  width: 100%;
  padding: 8px;
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
}

.col-8 {
  max-width: 100%;
  width: 100%;
  padding: 8px;
  -ms-flex-preferred-size: 66.66666%;
      flex-basis: 66.66666%;
}

.col-9 {
  max-width: 100%;
  width: 100%;
  padding: 8px;
  -ms-flex-preferred-size: 75.0%;
      flex-basis: 75.0%;
}

.col-10 {
  max-width: 100%;
  width: 100%;
  padding: 8px;
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
}

.col-11 {
  max-width: 100%;
  width: 100%;
  padding: 8px;
  -ms-flex-preferred-size: 91.66666%;
      flex-basis: 91.66666%;
}

.col-12 {
  max-width: 100%;
  width: 100%;
  padding: 8px;
  -ms-flex-preferred-size: 100.0%;
      flex-basis: 100.0%;
}

@media (min-width: 600px) {
  .col-xs-1 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xs-2 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xs-3 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 25.0%;
        flex-basis: 25.0%;
  }
  .col-xs-offset-3 {
    margin-left: 25.0%;
  }
  .col-xs-4 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xs-5 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 41.66666%;
        flex-basis: 41.66666%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66666%;
  }
  .col-xs-6 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 50.0%;
        flex-basis: 50.0%;
  }
  .col-xs-offset-6 {
    margin-left: 50.0%;
  }
  .col-xs-7 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xs-8 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 66.66666%;
        flex-basis: 66.66666%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66666%;
  }
  .col-xs-9 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 75.0%;
        flex-basis: 75.0%;
  }
  .col-xs-offset-9 {
    margin-left: 75.0%;
  }
  .col-xs-10 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xs-11 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 91.66666%;
        flex-basis: 91.66666%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66666%;
  }
  .col-xs-12 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 100.0%;
        flex-basis: 100.0%;
  }
  .col-xs-offset-12 {
    margin-left: 100.0%;
  }
}

@media (min-width: 900px) {
  .col-sm-1 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-2 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-3 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 25.0%;
        flex-basis: 25.0%;
  }
  .col-sm-offset-3 {
    margin-left: 25.0%;
  }
  .col-sm-4 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-5 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 41.66666%;
        flex-basis: 41.66666%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666%;
  }
  .col-sm-6 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 50.0%;
        flex-basis: 50.0%;
  }
  .col-sm-offset-6 {
    margin-left: 50.0%;
  }
  .col-sm-7 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-8 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 66.66666%;
        flex-basis: 66.66666%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666%;
  }
  .col-sm-9 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 75.0%;
        flex-basis: 75.0%;
  }
  .col-sm-offset-9 {
    margin-left: 75.0%;
  }
  .col-sm-10 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-11 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 91.66666%;
        flex-basis: 91.66666%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666%;
  }
  .col-sm-12 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 100.0%;
        flex-basis: 100.0%;
  }
  .col-sm-offset-12 {
    margin-left: 100.0%;
  }
}

@media (min-width: 1200px) {
  .col-md-1 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-2 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-3 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 25.0%;
        flex-basis: 25.0%;
  }
  .col-md-offset-3 {
    margin-left: 25.0%;
  }
  .col-md-4 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-5 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 41.66666%;
        flex-basis: 41.66666%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666%;
  }
  .col-md-6 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 50.0%;
        flex-basis: 50.0%;
  }
  .col-md-offset-6 {
    margin-left: 50.0%;
  }
  .col-md-7 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-8 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 66.66666%;
        flex-basis: 66.66666%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666%;
  }
  .col-md-9 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 75.0%;
        flex-basis: 75.0%;
  }
  .col-md-offset-9 {
    margin-left: 75.0%;
  }
  .col-md-10 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-11 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 91.66666%;
        flex-basis: 91.66666%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666%;
  }
  .col-md-12 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 100.0%;
        flex-basis: 100.0%;
  }
  .col-md-offset-12 {
    margin-left: 100.0%;
  }
}

@media (min-width: 1440px) {
  .col-lg-1 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-2 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-3 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 25.0%;
        flex-basis: 25.0%;
  }
  .col-lg-offset-3 {
    margin-left: 25.0%;
  }
  .col-lg-4 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-5 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 41.66666%;
        flex-basis: 41.66666%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666%;
  }
  .col-lg-6 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 50.0%;
        flex-basis: 50.0%;
  }
  .col-lg-offset-6 {
    margin-left: 50.0%;
  }
  .col-lg-7 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-8 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 66.66666%;
        flex-basis: 66.66666%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666%;
  }
  .col-lg-9 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 75.0%;
        flex-basis: 75.0%;
  }
  .col-lg-offset-9 {
    margin-left: 75.0%;
  }
  .col-lg-10 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-11 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 91.66666%;
        flex-basis: 91.66666%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666%;
  }
  .col-lg-12 {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    -ms-flex-preferred-size: 100.0%;
        flex-basis: 100.0%;
  }
  .col-lg-offset-12 {
    margin-left: 100.0%;
  }
}

.spacer {
  margin: auto !important;
}

input.text-field {
  height: 40px;
  border: none;
  border-radius: 4px;
  padding: 0 12px;
  text-transform: uppercase;
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.btn-sm-ad {
  color: #ffffff;
  padding: 2px 6px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  margin-left: 12px;
}

.btn--icon {
  height: 48px;
  width: 48px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #000000;
  padding-right: 16px;
  padding-left: 16px;
}

.navbar a {
  text-decoration: none;
}

.navbar .navbar__link,
.navbar .navbar__button {
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 10px;
}

@media (min-width: 600px) {
  .navbar .navbar__button {
    width: 64px;
  }
}

.navbar .navbar__menu a:hover,
.navbar .navbar__actions button:hover,
.navbar .navbar__search button:hover,
.navbar .navbar__toggle-checkbox:hover ~ .navbar__toggle > button {
  color: #000000;
  background: #ffffff;
}

.navbar .navbar__menu a.sale--text:hover {
  color: #ffffff !important;
  background: #ff2c49;
}

@media (max-width: 599px) {
  .navbar .navbar__toggle-checkbox {
    width: 48px !important;
  }
}

@media (max-width: 899px) {
  .navbar .navbar__toggle-checkbox {
    z-index: 1;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 64px;
    height: 64px;
  }
  .navbar .navbar__toggle-checkbox:checked ~ .navbar__toggle {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .navbar .navbar__toggle-checkbox:checked ~ .navbar__actions {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .navbar .navbar__toggle-checkbox:checked ~ .navbar__menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar .navbar__toggle-checkbox:checked ~ .navbar__menu ul {
    padding: 12px 0;
  }
  .navbar .navbar__toggle-checkbox:checked ~ .navbar__menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
  }
  .navbar .navbar__toggle-checkbox:checked ~ .navbar__menu a {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 12px;
  }
}

.navbar__toggle-checkbox {
  display: none;
}

.navbar__toggle {
  margin-right: 16px;
  margin-left: -16px;
}

.navbar__toggle button {
  height: 100%;
}

.navbar__title img {
  height: 32px;
}

@media (min-width: 600px) {
  .navbar__title img {
    height: 42px;
  }
}

.navbar__menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.navbar__menu a {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__menu li:first-child {
  margin-left: 16px;
}

.navbar__menu,
.navbar__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.navbar__menu button,
.navbar__actions button {
  height: 100%;
}

@media (min-width: 900px) {
  .navbar__menu,
  .navbar__actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.navbar__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar__search button {
  height: 100%;
  color: #ffffff;
}

.product {
  position: relative;
  color: #000000;
  text-transform: uppercase;
}

.product__media {
  overflow: hidden;
}

.product__title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.25px;
  margin: 0 6px;
}

.product__title a {
  color: #000000;
  text-decoration: none;
}

.product__meta .product__price {
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 0 6px;
}

.product__wishlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 48px;
  height: 48px;
  right: 16px;
  top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  background: #ffffff;
  border-radius: 100%;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.product__wishlist:active > .icon:before {
  content: '\e803';
}

.product__wishlist:hover {
  color: #ff8598;
}

.product__social {
  margin-top: 48px;
}

.product__social h2 {
  font-size: 32px;
}

.media, .media embed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.media.media--banner, .media embed.media--banner {
  max-height: 100%;
}

.media embed {
  min-height: 688px;
}

@media (min-width: 900px) {
  .media embed {
    min-height: 100%;
  }
}

.media--banner video,
.media--banner video > img,
.media--banner > img {
  -webkit-filter: contrast(1.2) saturate(1.5) blur(4px);
          filter: contrast(1.2) saturate(1.5) blur(4px);
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.media > .media__overlay, .media embed > .media__overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), to(white)) rgba(255, 255, 255, 0.35);
  background: linear-gradient(transparent 75%, white 100%) rgba(255, 255, 255, 0.35);
}

.media__overlay-text {
  position: relative;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 4px 4px 8px rgba(0, 0, 0, 0.14);
  top: 50%;
  left: 50%;
  width: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 0;
}

@media (min-width: 900px) {
  .media__overlay-text {
    margin-top: 64px;
  }
}

.media__overlay-text img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.logo {
  height: auto;
  width: auto;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#top {
  z-index: 1;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 64px;
  height: 64px;
  bottom: 48px;
  right: 24px;
  color: #000000;
  background: #ffffff;
  border: 2px solid #eeeeee;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

#top:hover {
  color: #ff8598;
  border-color: #ff8598;
}

#top i {
  font-size: 24px;
}

.alert {
  color: #ffffff;
  background: #000000;
  padding: 8px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.75px;
}

.alert a {
  color: inherit;
  text-decoration: none;
}

.alert__container {
  padding-right: 0;
  padding-left: 0;
}
/*# sourceMappingURL=main.css.map */