/// Colors - Defining our color variables for consistent theming
/// @see {function} get-color
/// @type Map
$colors: (
  'sale': #ff2c49,
  'black': #000000,
  'white': #ffffff
) !default;

/// Breakpoint sizes for responsive media queries
/// @see {mixin} responsive
/// @type Map
$grid-breakpoints: (
  'xs': 600px,
  'sm': 900px,
  'md': 1200px
) !default;

/// Display breakpoint sizes for responsive media queries
/// @see {mixin} generate-display
/// @type Map
$display-breakpoints: (
  'xs': 'only screen and (max-width: #{map-get($grid-breakpoints, 'xs')})',
  'sm-down': 'only screen and (max-width: #{map-get($grid-breakpoints, 'sm') - 1})',
  'sm-up': 'only screen and (min-width: #{map-get($grid-breakpoints, 'sm')})'
) !default;

/// Gutter spacing
/// @type Number
$grid-gutter: 24px !default;

/// Flex grid
/// @type Number
$flex-basis-base: 8.333333% !default; // Lowest flex-basis value

/// Font family
/// @type List
$font-family: 'Source Sans Pro', sans-serif !default;

/// Baseline font size
/// @type Number
$font-size-base: 14px !default;

/// Icon sizes
/// @type Map
$icon-size: (
  'default': 24px
) !default;
