@mixin container($gutter: $grid-gutter) {
  padding: $gutter;
  margin: 0 auto;
}

@mixin row($gutter: $grid-gutter) {
  display: flex;
  flex-flow: row wrap;

  // Negative row margin prevents spacing issues, evens out 
  // column padding and allows for multi-column/row nesting
  margin-right: -$gutter / 3;
  margin-left: -$gutter / 3;
}

@mixin col($gutter: $grid-gutter) {
  max-width: 100%;
  width: 100%;
  padding: $gutter / 3;
}
