html, body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  background: get-color('white');
  display: flex;
  flex-direction: column;  
  min-height: 100vh;
}

img, 
video {
  height: auto;
  width: 100%;
  max-width: 100%;
}

ul {
  list-style: none;
}
