.btn {
  cursor: pointer;
  display: inline-flex;
  
  // Centering
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;

  text-decoration: none;

  // Spacing between buttons
  margin: $grid-gutter / 3;
}

// Icon-only button
.btn--icon {
  height: 48px;
  width: 48px;
}
