.btn {
  cursor: pointer;
  display: inline-flex;
  
  // Centering
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;

  text-decoration: none;

  &-sm-ad {
    color: #ffffff;
    padding: 2px 6px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    text-transform: uppercase;
    margin-left: 12px;
  }
}

// Icon-only button
.btn--icon {
  height: 48px;
  width: 48px;
}
