.container {
  width: 100%;
  @include container;

  // Full width
  &.fluid {
    max-width: 100%;
  }

  // Container breakpoint sizes
  @each $threshold, $width in $grid-breakpoints {
    @include responsive($threshold) {
      max-width: $width;
    }
  }
}

.row {
  @include row;
}

.col {
  @include col;

  // Looping through breakpoints
  // Note to self in the far future: Fix this - should be doable without duplicate code
  @for $i from 1 through 12 {
    &-#{$i} {
      @include col;
      flex-basis: $flex-basis-base * $i;
    }
  }

  // Looping through breakpoints... again!
  @each $threshold, $width in $grid-breakpoints {
    // Responsive mixin
    @include responsive($threshold) {
      // Creating the 12 column grid for each breakpoint size
      @for $i from 1 through 12 {
        &-#{$threshold}-#{$i} {
          @include col;
          flex-basis: $flex-basis-base * $i;
        }
        // Grid offset
        &-#{$threshold}-offset-#{$i} {
          margin-left: $flex-basis-base * $i;
        }        
      }
    }
  }
}
