.navbar {
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-between;
  align-items: center;
  background-color: get-color('black');
  padding-right: $grid-gutter / 1.5;
  padding-left: $grid-gutter / 1.5;

  // Navbar title
  & > &__title {
    a {
      color: get-color('white');
      font-size: 24px;
    }
  }

  // primary navigation bar
  & > &__menu,
  & > &__actions {
    display: flex;
    flex-direction: column;
    list-style: none;

    a,
    button {
      color: get-color('white');
      padding: $grid-gutter / 2;
    }

    @include responsive('sm') {
      flex-direction: row;
    }
  }


}