.product {
  color: get-color('black');
  text-transform: uppercase;
}

.product__media {
  overflow: hidden;
}

.product__image {
  // Placeholder
}

.product__title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.25px;

  a {
    color: get-color('black');
    text-decoration: none;
  }
}

.product__meta {
  .product__price {
    font-size: 14px;
    letter-spacing: 0.5px;
  }
}

.product__banner {
  img {
    width: 100%;
  }
}

.product__instagram {
  // Placeholder
  li {
    text-align: center;
  }
}
