footer[role=contentinfo] {
  width: 100%;
  background: get-color('black');

  p {
    color: get-color('grey');
  }

  form {
    margin-top: $grid-gutter / 2;
  }

  h2 {
    letter-spacing: 2px;
  }

  img {
    width: auto;
    height: 115px;
  }

  // Fine print
  small {
    color: get-color('grey');
    text-align: center;
    text-transform: uppercase;
  }

  #subscribe {
    color: get-color('white');
    margin: 0;
    padding: $grid-gutter / 2;
    border: 1px solid get-color('white');
    border-radius: 4px;
    text-transform: uppercase;

    &:hover {
      color: get-color('black');
      background: get-color('white');
    }    
  }

  a {
    color: get-color('grey');
    text-decoration: none;

    &:hover {
      color: get-color('white');
    }
  }
}

footer[role=contentinfo] .row {
  justify-content: center;
}

// Social buttons
footer[role=contentinfo] .social .btn.btn--icon {
  color: get-color('grey');
  &:hover {
    color: get-color('white');
  }
}
