// Main site header
header:first-of-type {
  z-index: 2;
  position: relative;
  width: 100%;
  max-height: $navbar-height;
  overflow: hidden;

  @include responsive('sm') {
    position: fixed;
  }
}
